---
layout: default
title: "Comic Blog"
permalink: /blog/
---

<head>
  <link rel="icon" type="image/png" href="/assets/images/site/favicon.png">
</head>

<main class="page-wrapper">

<h1>Comic Blog</h1>
  <div class="archive-list">

    {% for post in site.posts %}
      <a href="{{ post.url }}" class="archive-item archive-link">
        <div class="archive-episode">

          {% if post.thumb %}
            <img src="{{ post.thumb }}" alt="{{ post.title }} thumbnail" class="archive-thumb">

          {% elsif post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }} thumbnail" class="archive-thumb">

          {% else %}
            <div class="bl-monogram">
              {{ post.title | slice: 0, 1 }}
            </div>
          {% endif %}

          <div class="archive-meta">
            <span class="archive-title">{{ post.title }}</span>
            <span class="archive-date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </div>

        </div>
      </a>
    {% endfor %}

  </div>

</main>
