<footer class="footer">
    <div class="newsletter">
        <h2>Let's be friends.</h2>
        <p>Follow Bad Lasagna Comic on the social media for new comic pages, behind-the-scenes notes, and announcements.</p>
    </div>
    <div class="social-icons">
        <a href="https://ko-fi.com/badlasagna"><img src="/assets/images/icons/kofi_symbol.png" alt="ko-fi logo" class="ko-fi-logo social-icon"></a>
        <a href="https://www.instagram.com/heycynwrites/"><img src="/assets/images/icons/instagram.png" alt="Instagram icons courtesy of Flaticon" class="instagram-icon social-icon"></a>
        <a href="mailto:hello@badlasagna.com"><img src="/assets/images/icons/mail.png" alt="Mail icons courtesy of Flaticon" class="mail-icon social-icon"></a>
    </div>
    <nav class="nav-buttons">
        <a href="/about/" class="btn btn-yellow">About</a>
        <a href="/archive/" class="btn btn-purple">All Episodes</a>
        <a href="https://ko-fi.com/badlasagna" class="btn btn-pink">Support My Comic!</a>
        <a href="/categories/" class="btn btn-pink">ALL Categories</a>
        <a href="/blog/" class="btn btn-purple">Blog</a>
        <a href="/resources/" class="btn btn-yellow">Colophon</a>
    </nav>
    <p class="footer-note">© 2025 - Today: Bad Lasagna. All rights reserved.</p>    
</footer>